* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  min-width: 375px;
  min-height: 100vh;
}
.container {
  width: 100vw;
  min-width: 375px;
  /* height: 100vh; */
  min-height: 100vh;
  background-color: hsl(217, 54%, 11%);
  display: flex;
}
.card {
  position: relative;
  width: 330px;
  height: 550px;
  background-color: hsl(216, 50%, 16%);
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.cube-image {
  width: 290px;
  height: 290px;
  /* margin: 20px; */
  border-radius: 10px;
}
.hover-class {
  position: absolute;
  background-image: url("./images/icon-view.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;

  top: 20px;
  left: 20px;
  width: 290px;
  height: 290px;
  /* border: solid; */
  background-color: hsla(178, 100%, 50%, 0.253);
  z-index: 10;
  display: none;
}
.hover-class:hover,
.cube-image:hover + .hover-class {
  display: block;
  cursor: pointer;
}
.title {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  margin: 20px 0;
}
.description {
  font-size: 18px;
  color: hsl(215, 51%, 70%);
}
.group {
  display: flex;
  justify-content: space-between;
}
.price-group {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  margin: 10px 0;
}
.price-icon {
  background-image: url("./images/icon-ethereum.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 15x;
  height: 15px;
  min-width: 15px;
  max-width: 15px;
  margin: auto 5px;
}
.price {
  color: hsl(178, 100%, 50%);
  font-size: 15px;
  margin: 5px 0px;
  font-weight: 500;
}
.time-group {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  margin: 10px 0;
}
.time-icon {
  background-image: url("./images/icon-clock.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 15x;
  height: 15px;
  min-width: 15px;
  max-width: 15px;
  margin: auto 5px;
}
.time {
  font-size: 16px;
  margin: 5px 0;
  color: hsl(215, 51%, 70%);
  font-weight: 500;
}
.hr {
  background-color: hsl(215, 32%, 27%);
  height: 2px;
  min-height: 2px;
}
.created-by {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}
.user-icon {
  background-image: url("./images/image-avatar.png");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 100%);
}
.proto {
  color: hsl(215, 51%, 70%);
  margin: auto 5px;
}
.user-name {
  color: hsl(0, 22%, 91%);
  margin: auto 5px;
}

.user-name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
.title:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
